/* Hoja de estilos para la Tienda */

* {
    box-sizing: border-box;
  }

  /* Con esto nos ahorramos crear una transicion en los enlaces, ya que suaviza los scrolls */
  html{
    scroll-behavior: smooth;
  }
  
  /* Estilos del body */
  body {
    background-color: rgba(255, 255, 255, 0.3);
    font-family: Arial;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index:1;
  }
  
  /* Estilos de cabecera */
  header {
    position: fixed;
    padding-top: 60px;
    width:100%;
    text-align: center;
    background: orangered;
    color: white;
    z-index:10;
  }
  
  /* Estilos de la barra de navegación */
  nav {
    display: flex;
    width:100%;
    background-color: #333;
    padding-bottom: 0;
  }
  
  /* Estilos de los links de la navbar */
  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Efecto hover en los links de la navbar */
  nav a:hover {
    background-color: #ddd;
    color: black;
    font-weight: bold;
  }

  /* Para añadir contenido al hacer hover en los enlaces del menú */
  nav a:hover:before{
    content:"</";
  }

  nav a:hover:after{
    content:">";
  }
  
  /* main */
  main {  
    margin-top:106px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 48vw;
  }

  /* Estilos del aside */
  aside {
    flex: 30%;
    /*background-color: grey;*/
    padding: 20px;
  }
  
  /* Estilos del article */
  article {
    flex: 30%;
    background-color: cyan;
    padding: 20px;
  }
  
  /* Footer */
  footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    width:100%;
  }

  aside{
    display: flex;
    width: 30%;
    flex-wrap: wrap;
  }

  article{
    display: flex;
    width: 30%;
    justify-content: center;
  }


  .carro > img{
    width: 500px;
    height: 500px;
  }

  .producto{
    margin: 10px;
    width: 150px;
    height: 150px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 0px -7px rgba(181,179,181,0.55);
    -moz-box-shadow: 10px 10px 0px -7px rgba(181,179,181,0.55);
    box-shadow: 10px 10px 0px -7px rgba(181,179,181,0.55);
  }

  .producto > img{
    width: 100px;
    height:100px;
    cursor: move;
  }

  #cuenta{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 120px;
  }

  #tituloLista{
    height: 10%;
  }

  #listaCompra{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:60%;
    overflow: auto;
    background: white;
    border-radius: 5px;
  }

  .linea{
    display:flex;
    width: 100%;
    justify-content: space-between;
    font-family: Brush Script MT,cursive; 
    font-size: 15pt;
    color: brown;
  }

  #totales{
    margin-top: 20px;
    display:flex;
    width: 100%;
    justify-content: space-between;
    font-family: Brush Script MT,cursive; 
    font-size: 20pt;
    font-weight: bold;
  }
  
  /* Responsive layout - a menos de 700px */
  @media screen and (max-width: 700px) {
    /* Reajustamos en columna el main y el nav */
    main, nav {   
      flex-direction: column;
      
    }

    main{
        margin-top: 244px;
        width: 100%;
    }
  }